* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 16px;
    overflow-x: hidden;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: rgb(17, 43, 60);
    position: sticky;
    top: 0rem;
    z-index: 1;
}

h1:hover {
    outline: 2px solid white;
    cursor: pointer;
}

li:hover {
    outline: 2px solid white;
    cursor: pointer;
}

header img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.Cards {
    background-color: white;
    margin: 1rem 0rem ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 95vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 3%;
}

.Cards:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1); 
}

.text_descuento {
    font-size: 1.5rem;
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}

.red {
    color: red;
}

.ver_mas {
    color: blue;
    font-size: 1rem;
    cursor: pointer;
}

.ver_mas:hover {
    text-decoration: underline;
}

strong {
    font-size: 1.8rem;
}

.car_cmp {
    position: relative;
    left: 45%;
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

.Cards:hover .car_cmp{
    transform: rotate(360deg);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(17, 43, 60);
    width: 100vw;
}

#gif {
    width: 3vw;
    position: relative;
    left: 45%;
    animation: fantasma 15s infinite; /* Aplica la animación */
}

@keyframes fantasma {
    0% { opacity: 100% }
    25% { transform: translateX(-40vw); opacity: 100% }
    100% { opacity: 100% }
}


#not_smartphone {
    display: none;
}

#nav_bar {
    display: none;
}

#img_desktop {
    display: none;
}

@media (min-width: 481px) {
    header {
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    header img {
        display: none;
    }
    #box_text { 
        width: 30vw; /* Ajusta el ancho como prefieras */ 
        padding: 0.3rem; /* Ajusta la altura como prefieras */ 
        font-size: 2vw; /* Tamaño de fuente para el texto dentro del cuadro */
    }
    header ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;
        width: 45vw;
    }

    #not_smartphone {
        display: flex;
        justify-content: space-evenly;
        padding-left:2rem;
        width: 95vw;
    }
    header ul{
        display: flex;
        flex-direction: row;
    }
    header li {
        width: 18vw;
        font-size: 1.7vw;
    }
    header li:nth-child(1){
        width: 14vw;
    }
    header li:nth-child(3){
        width: 7vw;
    }
    h1 {
        font-size: 1rem;
        margin-right: 1rem;
    }
    .box_tablet {
        width: 95vw;
        display: flex;
        justify-content: space-around;
    }

    .img_perfil {
        width: 37.5vw;
        height: 37.4vh;
    }

    .Cards {
        margin: 0.3rem 0rem;
        justify-content: space-between;
        width: 43vw;
    }

    .text_descuento {
        font-size: 0.8rem
    }
    strong {
        font-size: 1rem
    }
    .ver_mas {
        font-size: 0.7rem;
    }
    footer {
        margin-top: 1rem;
    }

}

@media (min-width: 769px) {
    header {
        margin: 0rem;
    }
    #nav_bar {
        display: flex;
        width: 100vw;
        padding: 0.7rem;
        background-color: rgb(26, 25, 25);
        position: sticky;
        top: 3.9rem;
        z-index: 2;
    }
    #nav_bar ul {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        color: white;
        font-size: 0.6rem;
    }
    #img_desktop {
        display: flex;
        margin-bottom: 1rem;
    }
    #img_desktop img{
        width: 90vw;
    }
    .box_desktop {
        width: 80vw;
        margin-bottom: 1rem;
        display: flex;
    }
    .box_tablet {
        width: 40vw;
    }
    .Cards {
        width: 18vw;
    }

    .img_perfil {
        width: 15vw;
        height: 24vh;
        margin-bottom: 0.7rem;
    }
    strong {
        font-size: 0.8rem;
    }
    .red {
        font-size: 0.8rem;
    }
    .ver_mas {
        font-size: 0.6rem;
    }
    #box_text { 
        width: 50vw; /* Ajusta el ancho como prefieras */ 
        padding: 0.3rem; /* Ajusta la altura como prefieras */ 
        font-size: 1vw; /* Tamaño de fuente para el texto dentro del cuadro */
    }
    header h1 {
        font-size: 2rem;
    }
    header ul {
        justify-content: space-between;
        width: 30vw;
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    header li {
        font-size: 0.8rem;
        width: rem;
    }
    #not_smartphone {
        justify-content: space-around;
    }

}