* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    background-color: rgb(224, 221, 221);
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 16px;
    justify-content: center;
    overflow-x: hidden;
}

header {
    align-items: center;
    background-color: rgb(17, 43, 60);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    position: sticky;
    top: 0rem;
    width: 100vw;
    z-index: 1;
}

h1:hover {
    cursor: pointer;
    outline: 2px solid white;
}

li:hover {
    cursor: pointer;
    outline: 2px solid white;
}

header img {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.Cards {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem ;
    padding: 1rem;
    width: 95vw;
}

.Cards:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1); 
}

.text_descuento {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.red {
    color: red;
}

.ver_mas {
    font-size: 1rem;
    color: blue;
    cursor: pointer;
}

.ver_mas:hover {
    text-decoration: underline;
}

strong {
    font-size: 1.8rem;
}

.car_cmp {
    left: 45%;
    position: relative;
    transition: transform 0.3s ease;
    height: 2.5vw;
    width: 2.5vw;
}

.Cards:hover .car_cmp{
    transform: rotate(360deg);
}

footer {
    align-items: center;
    background-color: rgb(17, 43, 60);
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
}

#gif {
    animation: fantasma 15s infinite; 
    position: relative;
    left: 35%;
    width: 3vw;
}

@keyframes fantasma {
    0% { opacity: 100% }
    25% { transform: translateX(-35vw); opacity: 100% }
    100% { opacity: 100% }
}


#not_smartphone {
    display: none;
}

#nav_bar {
    display: none;
}

#img_desktop {
    display: none;
}

@media (min-width: 481px) {
    header {
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    header img {
        display: none;
    }
    #box_text { 
        font-size: 2vw; 
        padding: 0.3rem; 
        width: 30vw; 
    }
    header ul {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        width: 45vw;
    }

    #not_smartphone {
        display: flex;
        justify-content: space-evenly;
        padding-left:2vw;
        width: 95vw;
    }
    header ul{
        flex-direction: row;
        display: flex;
    }
    header li {
        font-size: 1.7vw;
        width: 18vw;
    }
    header li:nth-child(1){
        width: 14vw;
    }
    header li:nth-child(3){
        width: 7vw;
    }
    h1 {
        font-size: 1rem;
        margin-right: 1rem;
    }
    .box_tablet {
        display: flex;
        justify-content: space-around;
        width: 95vw;
    }

    .img_perfil {
        height: 39vh;
        width: 37.5vw;
    }

    .Cards {
        justify-content: space-between;
        margin: 0.3rem 0rem;
        width: 43vw;
    }

    .text_descuento {
        font-size: 0.8rem
    }
    strong {
        font-size: 1rem
    }
    .ver_mas {
        font-size: 0.7rem;
    }
    footer {
        margin-top: 1rem;
    }

}

@media (min-width: 769px) {
    header {
        margin: 0rem;
    }
    #nav_bar {
        display: flex;
        background-color: rgb(26, 25, 25);
        padding: 0.7rem;
        position: sticky;
        top: 3.9rem;
        width: 100vw;
        z-index: 2;
    }
    #nav_bar ul {
        color: white;
        display: flex;
        font-size: 1vw;
        justify-content: space-evenly;
        list-style-type: none;
        width: 100vw;
    }
    #img_desktop {
        display: flex;
        margin-bottom: 1rem;
    }
    #img_desktop img{
        width: 90vw;
    }
    .box_desktop {
        display: flex;
        margin-bottom: 1rem;
        width: 80vw;
    }
    .box_tablet {
        width: 40vw;
    }
    .Cards {
        width: 18vw;
    }

    .img_perfil {
        margin-bottom: 0.7rem;
        height: 22vh;
        width: 15vw;
    }
    strong {
        font-size: 1.1vw;
    }
    .red {
        font-size: 1.1vw;
    }
    .ver_mas {
        font-size: 0.9vw;
    }
    #box_text { 
        font-size: 1vw;
        padding: 0.3rem;
        width: 50vw; 
    }
    header h1 {
        font-size: 2rem;
    }
    header ul {
        justify-content: space-between;
        margin-left: 0.5rem;
        width: 23vw;
    }
    header li {
        font-size: 0.9vw;
        width: 9.2vw;
    }
    header li:nth-child(1){
        width: 7.2vw;
    }
    header li:nth-child(3){
        width: 3vw;
    }
    #not_smartphone {
        justify-content: space-around;
        padding: 0rem;
    }
}